#fondo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Alegreya', serif;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

form{
    background: white;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid ;
    resize: none;
}

input:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: rgb(199, 102, 255);
}

label{
    color:rgb(146, 146, 146);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus~.barra::before{
    width: 100%;
}

.barra::before{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: rgb(199, 102, 255);
    transition: 0.3s ease all;
    left: 0%;
}

a.button{
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: rgb(128, 128, 128);
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

.cuerpo{
    text-align: center;
}

.bienvenida{
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: #959595;
    font-size: 45px;
}

.bienvenida::after, .bienvenida::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #959595;
    top: 0.6em;
}
.bienvenida::before{
    left: -140px;
}

.bienvenida::after{
    right: -140px;
}

.mensajebienvenida{
    display: inline-block;
    position: relative;
    font-family: 'Lora', serif;
    color: #E371FF;
    font-size: 25px;
}
